
body {
    font-family: -apple-system, sans-serif;
    color: hsl(0, 0%, 10%);
    background: hsl(0, 0%, 96%);
    margin: 0;
}

a:link,
a:visited,
details summary {
    text-decoration: underline;
    color: hsl(201, 70%, 40%);
}

a:hover {
    text-decoration: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}


/* header */

header {
    text-align: center;
    padding: 32px;
    margin: 0;
}
header img {
    width: 603px;
    max-width: 80%;
}
header::after {
    /* rounded border */
    content: "";
    display: block;
    background-color: black;
    opacity: 0.1;
    border-radius: 3px;
    height: 6px;
}



/* main */

main {
    line-height: 1.6;
    padding: 1em 5%;
    max-width: 800px;
    margin: 0 auto;
}
main > section {
    margin: 5em auto;
}
main > section > section {
    margin-bottom: 3em;
}
main h2 {
    font-size:160%;
    font-weight: 300;
    color: hsla(0, 0%, 0%, 0.5);
    
    text-align: center;
}
main h3 {
    font-size: 130%;
    color: hsla(0, 0%, 0%, 0.5);
    
    text-align: center;
}


/* footer */

footer {
    text-align: center;
    font-size: 90%;
    margin-top: 4em;
    color: hsla(0, 0%, 0%, 0.5);
}


/* profile */

.profile {
    position: relative;
}
.profile h4 {
    font-weight: 400;
    font-size: 120%;
    letter-spacing: 0.05em;
    
    position: absolute;
    top: 0.2em;
    left: 3.6em;
    margin: 0;
}
.profile img.avatar {
    width: 3.5em;
    border-radius: 45%;
}
.profile ul.link {
    font-size: 90%;
    
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2.3em;
    left: 4.5em;
}
.profile ul.link li {
    display: inline;
    margin: 0 0.1em;
}
.profile ul.link li+li::before {
    content: ' / ';
    font-weight: 200;
    color: hsla(0, 0%, 0%, 0.2);
}
.profile p {
    text-align: justify;
    line-height: 1.5;
    margin: 0;
}


/* ------------------------ */

/* tagline */
p.tagline {
    font-size: 130%;
    color: hsl(201, 70%, 40%);
    text-align: center;
}
p.tagline em {
    font-size: 114%;
    font-weight: 600;
    background-color: hsl(48, 100%, 50%);
}
p.tagline + h2 {
    margin-top: 2em;
}


/* Principle */
#Topics ul li {
    list-style-type: "✔︎ ";
    padding-inline-start: 0.5em;
}
#Topics ul li::marker {
    color: hsl(48, 100%, 50%);
}

#TalkTypes .container {
    display: flex;
    justify-content: space-between;
}
#TalkTypes section {
    flex-basis: 50%;
    padding: 1em;
    border-radius: 0.8em;
    background-color: hsla(198,100%,50%, 0.1);
}
#TalkTypes section * {
    margin: 0;
}
#TalkTypes section h4 {
    font-size: 120%;
    font-weight: 500;
    color: hsl(201, 50%, 30%);
    margin: 0 0 0.2em;
}
#TalkTypes section h4 small {
    font-weight: normal;
    font-size: 90%;
    opacity: 0.67;
}
#TalkTypes section p {
    text-indent: 1em;
}
#TalkTypes .or {
    flex-shrink: 2;
    align-self: center;
    padding: 0 0.5em;
    
    font-size: 180%;
    font-weight: 100;
    font-style: italic;
    color: hsla(0, 0%, 0%, 0.3);
    vertical-align: middle;
}


/* Events */

.event dl.info {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.event dl.info dt {
    margin-bottom: 0.2em;
    color: hsl(0, 0%, 50%);
    float: left;
    width: 4em;
    text-align: right;
}
.event dl.info dd {
    margin-bottom: 0.2em;
    margin-left: 4.8em;
}
.event dl.info dd:after {
  content: '';
  display: block;
  clear: both;
}

table.timetable {
    min-width: 25em;
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}
table.timetable caption {
    text-align: left;
    font-weight: 500;
    padding: 0.2em;
}
table.timetable tr {
    border-top:    0.5px solid hsla(0, 0%, 0%, 0.3);
    border-bottom: 0.5px solid hsla(0, 0%, 0%, 0.3);
}
table.timetable td {
    vertical-align: top;
    padding: 0.4em;
}
table.timetable strong {
    font-weight: 500;
}
table.timetable span.talkType {
    font-weight: 600;
    color: hsl(15,67%,55%);
    border: 1px solid hsla(15,67%,55%);
    border-radius: 0.3em;
    padding: 0 0.15em;
    margin-right: 0.3em;
}
table.timetable .description {
    margin-bottom: 1em;
    
}
table.timetable .profile p {
    text-align: left;
}

table.timetable td:first-child {
    color: hsla(0, 0%, 0%, .6);
    font-weight: 300;
    padding-right: 1em;
}
table.timetable .description {
    font-size: 90%;
}
table.timetable .description > * {
    margin: 0;
}

.register {
    text-align: center;
    margin: 2em auto;
}
.register a {
    font-size: 120%;
    letter-spacing: 0.2em;
    line-height: 1;
    
    display: inline-block;
    color: white;
    background-color: hsl(0, 0%, 70%);
    text-decoration: none;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 1.2em;
    padding: 0.6em 1em;
}
.register a:link,
.register a:visited {
    background-color: hsl(15,67%,55%);
}
.register a:hover {
    background-color: hsl(15,80%,64%);
    text-decoration: none;
    transition: all 0.2s ease;
}



/* profile */

#Committee .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#Committee .profile {
    width: 40%;
    min-width: 240px;
    margin: 0 1.5% 1.5em;
    
    flex-basis: auto;
}
#Committee .profile p {
    font-size: 95%;
}
#Support > * {
    text-align: center;
}
#Support img {
    border-radius: 15%;
}
